@keyframes ft-sweet-modal-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ft-sweet-modal-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ft-sweet-modal-container {

  .ft-sweet-modal
  .-ft-sweet-modal-show {
    animation: ft-sweet-modal-show .5s;
  }

  .-ft-sweet-modal-hide {
    animation: ft-sweet-modal-hide .5s;
  }
}
