$ft-assets: '~/assets/' !default;
$pswp__assets-path: '#{$ft-assets}features/gallery/' !default;

@import 'photoswipe/src/css/main';
@import 'photoswipe/src/css/default-skin/default-skin';

.pswp[data-pswp] {
  .pswp__button--arrow--left,
  .pswp__button--arrow--right {
    background: none;
  }
}


.ft-gallery {
  .source {
    position: relative;
    display: block;
  }
}
