$ft-fit-bg-darkened-background-color: rgba(0, 0, 0, 0.3);

.ft-fit-bg {
  & {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  > img,
  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    // or use postcss plugin to generate font-family:
    // https://github.com/ronik-design/postcss-object-fit-images
    font-family: 'object-fit: cover; object-position: center center'
  }

  &.-darkened {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $ft-fit-bg-darkened-background-color;
    }
  }

  &.-contain {
    > img,
    > video {
      object-fit: contain;
      font-family: 'object-fit: contain; object-position: center center;'
    }
  }

  &.-fill {
    > img,
    > video {
      object-fit: fill;
      font-family: 'object-fit: fill; object-position: center center;'
    }
  }

  &.-initial-hide {
    visibility: hidden;
    opacity: 0;
  }

  &.-image {}

  &.-video {
    overflow: hidden;
  }
}


// the native play buttons will still trigger the fullscreen, so it's best to hide them when iphone-inline-video is enabled.
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}